<div class="wrapper">
<div class="the-beginning">
  <div class="rings">
    <img src="../../assets/lotr.png">
    <img src="../../assets/lotr.png">
  </div>
  <h2>{{partyText.into}}</h2>
</div>
<div class="practical-info">
<h1>You are invited to a parties...</h1>
<h1>Date: February Saturday 26 </h1>
<h1>Time: I dunno, like around 17 or sumtn </h1>
<h1>Where: Axel Strøbyes vej 7</h1>
<h1>Why: warm our apartment, kira is born, mike is alone. Three parties, one place, lucky lucky you :D</h1>
<h4>TODO: 15-02-2022 MM make website cooler - done, thanks mike.</h4>
</div>
<div class="house-warm-section">
  <img id="house-fire" src="../../assets/house-on-fire.jpeg" alt="fire"/>
  <h2>Party Number 1: The House Warming</h2>
  <p>{{partyText.housePartOne}}</p>
  <p>{{partyText.housePartTwo}}</p>
  <p>{{partyText.housePartThree}}</p>
  <a href="https://xn--nskeskyen-k8a.dk/share/Kira-Jensen_Here-you-go-mom?fbclid=IwAR30nKe91r9vtJ3gqoGOw6r45UblzO1ccENGYYQHZZjeIL32-S1z-ra1u-I</>">
    Buy our apartment Stuff
  </a>
  <p>{{partyText.housePartFour}}</p>
</div>
  <div class="divider"></div>
  <div class="kira-section">
  <div>
  <h2>Party Number B: Kira was Born</h2>
  <img src="../../assets/kira.png" alt="kira"/>
  </div>
  <div>
  <p>{{partyText.kiraPartOne}}</p>
  <p>{{partyText.kiraPartTwo}}</p>
  <p>Kira Fun Facts</p>
  <p>{{partyText.kiraFunFactOne}}</p>
  <p>{{partyText.kiraFunFactTwo}}</p>
  <p>{{partyText.kiraRegistry}}</p>
  <a href="https://xn--nskeskyen-k8a.dk/share/Kira-Jensen_Here-you-go-mom?fbclid=IwAR30nKe91r9vtJ3gqoGOw6r45UblzO1ccENGYYQHZZjeIL32-S1z-ra1u-I</>">
    Buy Kira Stuff
  </a>
  </div>
</div>
  <div class="divider"></div>
<div class="mike-section">
  <div>
    <h2>Party XIV: Michael is Alone</h2>
    <img src="../../assets/mike.png" alt="mike"/>
  </div>
  <div>
  <p>{{partyText.mikePartOne}}</p>
  <p>{{partyText.mikePartTwo}}</p>
  <p>{{partyText.mikePartThree}}</p>
  <p>{{partyText.mikeRegistry}}</p>
  </div>
</div>
  <div class="divider"></div>
  <div class="what to expect">
<h2>What to Expect</h2>
    <div class="what-to-expect-pics">
    <img src="../../assets/cheetos.png">
    <img src="../../assets/takis.png">
    <img src="../../assets/art.png">
    <img src="../../assets/candy.png">
    <img src="../../assets/hass.png">
    <img src="../../assets/markus.png">
    <img src="../../assets/mike-expect.png">
    <img src="../../assets/pizzarosso.jpeg">
    <img src="../../assets/wine.png">
    <img src="../../assets/dice.jpeg">
    <img src="../../assets/chicken.jpeg">
    <img src="../../assets/beer.jpeg">
    <img src="../../assets/goose.jpeg">
    <img src="../../assets/kira-extra.png">
    </div>
</div>
  <div class="divider"></div>
  <div class="rsvp">
<h1>RSVP</h1>
<div class="the-listy-part">
  <div class="the-cool-people-box">
<h2>Cool People that Are Coming</h2>
    <h3 style="color: #f5b806">Basically everyone apparently</h3>
<div class = "cool-people" *ngFor="let invite of coolPeople">
  <h3>{{invite.name}}</h3>
  <button (click)="makeShit(invite)">Click 2 be UNcool</button>
</div>
  </div>
  <div class="the-shit-people-box">
<h2>Not as Cool People That are not Coming</h2>
    <img style="width: 200px;" src="../../assets/umbrige.png">
    <div class = "shit-peeps" *ngFor="let shitvite of shitPeople">
  <h3>{{shitvite.name}}</h3>
  <button (click)="makeCool(shitvite)">Click 2 be COOL</button>
</div>
  </div>
</div>
</div>
  <div class="divider"></div>
<div class="extras">
  <img src="../../assets/forLads.png">
  <img src="../../assets/forMagda.png">
  <img src="../../assets/forTaco.png">
  <img src="../../assets/forIris.png">
  <img src="../../assets/forRosa.png">
  <img src="../../assets/forJulie.png">
  <img src="../../assets/forAlin.png">
  <img src="../../assets/forCalvin.png">
  <img src="../../assets/forMike.png">
  <img src="../../assets/forSidsel.png">
  <img src="../../assets/forKira.png">
  <img src="../../assets/forLuky.png">
</div>
</div>
<div>{{partyText.code}}</div>
<mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
