<div class="the-beginning">{{partyText.into}}</div>
<div class="practical-info">
<h1>You are invited to a parties...</h1>
<h1>Date: Febuary Saturday 26 </h1>
<h1>Time: Party </h1>
<h1>Where: OUr apartment</h1>
<h1>Why: warm our apartment, kira is born, mike is alone. Three parties, one place, lucky lucky you :D</h1>
<h4>TODO: 15-02-2022 MM make website cooler</h4>
</div>
<div class="house-warm-section">
  <h2>Party Number 1: The House Warming</h2>
  <div>{{partyText.housePartOne}}</div>
  <div>{{partyText.housePartTwo}}</div>
  <div>{{partyText.housePartThree}}</div>
  <a href="https://xn--nskeskyen-k8a.dk/share/Kira-Jensen_Here-you-go-mom?fbclid=IwAR30nKe91r9vtJ3gqoGOw6r45UblzO1ccENGYYQHZZjeIL32-S1z-ra1u-I</>">
    Buy our apartment Stuff
  </a>
  <div>{{partyText.housePartFour}}</div>
</div>
<div class="kira-section">
  <h2>Party Number B: Kira was Born</h2>
  <div>{{partyText.kiraPartOne}}</div>
  <div>{{partyText.kiraPartTwo}}</div>
  <div>Kira Fun Facts</div>
  <div>{{partyText.kiraFunFactOne}}</div>
  <div>{{partyText.kiraFunFactTwo}}</div>
  <div>{{partyText.kiraRegistry}}</div>
  <a href="https://xn--nskeskyen-k8a.dk/share/Kira-Jensen_Here-you-go-mom?fbclid=IwAR30nKe91r9vtJ3gqoGOw6r45UblzO1ccENGYYQHZZjeIL32-S1z-ra1u-I</>">
    Buy Kira Stuff
  </a>
</div>
<div class="mike-section">
  <h2>Party Number Charlie: Michael is Alone</h2>
  <div>{{partyText.mikePartOne}}</div>
  <div>{{partyText.mikePartTwo}}</div>
  <div>{{partyText.mikePartThree}}</div>
  <div>{{partyText.mikeRegistry}}</div>
</div>
<div class="what to expect">
<h2>What to Expect</h2>
  <div>Hot Cheetos</div>
  <div>Takis</div>
  <div>DEJ</div>
  <div>Hass bois</div>
  <div>Opus</div>
  <div>Chickens</div>
  <div>Art</div>
  <div>Michael</div>
  <div>Kira</div>
  <div>Spotify</div>
</div>
<div class="rsvp">
<h1>RSVP</h1>
<div class="the-listy-part">
  <div class="the-cool-people-box">
<h2>Cool People that Are Coming</h2>
<div class = "cool-people" *ngFor="let invite of coolPeople">
  <h3>{{invite.name}}</h3>
  <button (click)="makeShit(invite)">Click 2 be UNcool</button>
</div>
  </div>
  <div class="the-shit-people-box">
<h2>Not as Cool People That are not Coming</h2>
<div class = "shit-peeps" *ngFor="let shitvite of shitPeople">
  <h3>{{shitvite.name}}</h3>
  <button (click)="makeCool(shitvite)">Click 2 be COOL</button>
</div>
  </div>
</div>
</div>
