.wrapper{
  max-width: 800px;
  margin: 0 auto;
}

.the-listy-part{
  display: flex;
  flex-flow: row wrap;
}

.house-warm-section{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}


.kira-section, .mike-section{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.kira-section > *, .mike-section > * {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}

.kira-section p h2, .mike-section p h2{
  font-family: Trattatello;
}

.the-cool-people-box{
  flex-basis: 50%;
}

.the-shit-people-box{
  flex-basis: 50%;
}

.cool-people, .shit-peeps{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.cool-people button{
  height: 30px;
}

.shit-peeps button{
  height: 30px;
}

.spinner{
  position: fixed;
  z-index: 999;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.divider{
  border-bottom: solid gray 1px;
  margin: 12px 0;
}
